<%- include('../includes/header') -%>
    <section class="content">
        <div class="titulo_pagina row align-items-center">
            <div class="col-lg-2">
                <div class="btn_close d-md-none d-lg-block">
                    <button type="button" class="close_sidebar">
                        <i class="bi bi-arrows-fullscreen maximize" id="texto_button_sidebar">&nbsp;Maximizar</i>
                    </button>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>
                    <%= tittle%>
                </h4>
            </div>
            <div class="col-lg-6 d-md-none d-lg-block">
                <div class="bell_notificaciones"><a href="/da/notificaciones"><i class="bi bi-bell-fill"></i></a></div>
                <div class="dropdown">
                    <button class="btn btn-secondary  dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <% if(user) {%>
                            <p class="nombre_entidad_activa">
                            <%= user.NOMBRE %> <%= user.APELLIDO %>
                            </p><% }%>
                        <br>
                        <p class="cambiar"><%= user.ENTIDAD %></p>
           
              
                </div>
            </div>
        </div>
        <div class="section_form fluid-container">
            <div class="container_reporte_form fluid-container">
                <div class="row buscar">
                    <div class="row section_btn_dashboard_individual">
                        <% if (user) { if (user.TIP_USER !=2) {%>
                        <div class="col-lg-3 col-xs-12">
                            <a href="#modalTipoReporte" data-bs-toggle="modal" data-bs-target="#modalTipoReporte">
                                <div class="card card_dashboard_individual">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-4">
                                                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.33 21.33"><defs><style>.cls-1{fill:#fff;}</style></defs><title>report</title><path class="cls-1" d="M15.33,4.72h3.52L15.14,1.08V4.54A.18.18,0,0,0,15.33,4.72Z"/><path class="cls-1" d="M15.33,5.89A1.35,1.35,0,0,1,14,4.54V.74H4.31A2.17,2.17,0,0,0,2.14,2.91V18.42a2.17,2.17,0,0,0,2.17,2.17H17a2.17,2.17,0,0,0,2.17-2.17V5.89ZM14,15.78H6.51a.58.58,0,1,1,0-1.16H14a.58.58,0,0,1,0,1.16Zm-8.08-2.9a.58.58,0,0,1,.59-.58h6.68a.58.58,0,0,1,0,1.16H6.51A.58.58,0,0,1,5.92,12.88Zm8.78-1.75H6.51a.58.58,0,1,1,0-1.16H14.7a.58.58,0,1,1,0,1.16Z"/></svg>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title align-self-center">Nuevo Reporte</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }} %>
                        <div class="col col-xs-12">
                            <form action="" class="form-group">
                                <p class="textos_black">Buscar</p>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary btn_search" type="button" id="button-addon2" onclick="location.href=`/da/tassist`;"><i class="bi bi-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row cuerpo_dashboard  reportes_ciudadanos mb-5">
   
                    <div class="row filtrar">
                        <!-- <form action=" " class="form-group ">
                            <h5>Filtrar</h5>
                            <div class="row ">
                                <div class="col-lg-3 col-xs-12 ">
                                    <label for=" ">Fecha de inicio</label>
                                    <input type="date" name="" id="" class="form-control">
                                    <label for=" ">Fecha final</label>
                                    <input type="date" name="" id="" class="form-control">
                                </div>
                                <div class="col-lg-3 col-xs-12">
                                    <label for=" ">Listado SPA</label>
                                    <select name="spa " id=" " class="form-control ">
                                            <option value="">Listado de Spa</option>
                                        </select>
                                    <label for=" ">Genero</label>
                                    <select name="genero" id=" " class="form-control ">
                                            <option value="">Masculino</option>
                                            <option value="">Femenino</option>
                                        </select>
                                </div>
                                <div class="col-lg-6 col-xs-12 ">
                                    <div class="row">
                                        <label for="">Geolocalizacion</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Buscar por Ciudad, Municipio, Barrio, Vereda o Centro poblado " aria-label="Buscar" aria-describedby="button-addon2" id="myInput1">
                                            <input type="text" class="form-control" placeholder="Buscar por Barrio o Vereda o Centro poblado" aria-label="Buscar" aria-describedby="button-addon2" id="myInput" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn_green ">Aplicar</button>
                        </form> -->
                    </div>




                    <%- include('../includes/misreportes') -%>
                    <div class="mt-3"></div>
                    <%- include('../includes/mistamizajescrafft') -%>
                    <div class="mt-3"></div>
                    <%- include('../includes/mistamizajesassist') -%>
                    
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modalTipoReporte" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-xs-12">
                            <a href="/da/nuevoreporte">
                                <div class="card card_dashboard_individual">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-4">
                                                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.33 21.33"><defs><style>.cls-1{fill:#fff;}</style></defs><title>report</title><path class="cls-1" d="M15.33,4.72h3.52L15.14,1.08V4.54A.18.18,0,0,0,15.33,4.72Z"/><path class="cls-1" d="M15.33,5.89A1.35,1.35,0,0,1,14,4.54V.74H4.31A2.17,2.17,0,0,0,2.14,2.91V18.42a2.17,2.17,0,0,0,2.17,2.17H17a2.17,2.17,0,0,0,2.17-2.17V5.89ZM14,15.78H6.51a.58.58,0,1,1,0-1.16H14a.58.58,0,0,1,0,1.16Zm-8.08-2.9a.58.58,0,0,1,.59-.58h6.68a.58.58,0,0,1,0,1.16H6.51A.58.58,0,0,1,5.92,12.88Zm8.78-1.75H6.51a.58.58,0,1,1,0-1.16H14.7a.58.58,0,1,1,0,1.16Z"/></svg>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title align-self-center">Reporte SIVESPA</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <a href="/da/tassist">
                                <div class="card card_dashboard_individual">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-4">
                                                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.33 21.33"><defs><style>.cls-1{fill:#fff;}</style></defs><title>report</title><path class="cls-1" d="M15.33,4.72h3.52L15.14,1.08V4.54A.18.18,0,0,0,15.33,4.72Z"/><path class="cls-1" d="M15.33,5.89A1.35,1.35,0,0,1,14,4.54V.74H4.31A2.17,2.17,0,0,0,2.14,2.91V18.42a2.17,2.17,0,0,0,2.17,2.17H17a2.17,2.17,0,0,0,2.17-2.17V5.89ZM14,15.78H6.51a.58.58,0,1,1,0-1.16H14a.58.58,0,0,1,0,1.16Zm-8.08-2.9a.58.58,0,0,1,.59-.58h6.68a.58.58,0,0,1,0,1.16H6.51A.58.58,0,0,1,5.92,12.88Zm8.78-1.75H6.51a.58.58,0,1,1,0-1.16H14.7a.58.58,0,1,1,0,1.16Z"/></svg>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title align-self-center">Tamizaje Assist</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> 
                        <div class="col-lg-4 col-xs-12">
                            <a href="/da/tcrafft">
                                <div class="card card_dashboard_individual">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-4">
                                                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.33 21.33"><defs><style>.cls-1{fill:#fff;}</style></defs><title>report</title><path class="cls-1" d="M15.33,4.72h3.52L15.14,1.08V4.54A.18.18,0,0,0,15.33,4.72Z"/><path class="cls-1" d="M15.33,5.89A1.35,1.35,0,0,1,14,4.54V.74H4.31A2.17,2.17,0,0,0,2.14,2.91V18.42a2.17,2.17,0,0,0,2.17,2.17H17a2.17,2.17,0,0,0,2.17-2.17V5.89ZM14,15.78H6.51a.58.58,0,1,1,0-1.16H14a.58.58,0,0,1,0,1.16Zm-8.08-2.9a.58.58,0,0,1,.59-.58h6.68a.58.58,0,0,1,0,1.16H6.51A.58.58,0,0,1,5.92,12.88Zm8.78-1.75H6.51a.58.58,0,1,1,0-1.16H14.7a.58.58,0,1,1,0,1.16Z"/></svg>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title align-self-center">Tamizaje Crafft</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function confirmarreporte(id){
                Swal.fire({
        title: 'Desea eliminar el reporte?',
        text: "Este cambio no se puede revertir y al eliminar este reporte no sera recuperable!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3c773c',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, eliminar'
        }).then((result) => {
        if (result.isConfirmed) {
        
            window.location='/da/deletereportesivespa/'+id;
          
        
        
        }
        })
            }
        </script>


<script>
    function confirmarcrafft(id){
            Swal.fire({
    title: 'Desea eliminar el tamizaje CRAFFT?',
    text: "Este cambio no se puede revertir y al eliminar este reporte no sera recuperable!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3c773c',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Si, eliminar'
    }).then((result) => {
    if (result.isConfirmed) {
    
        window.location='/da/deletetamcrafft/'+id;
      
    
    
    }
    })
        }
</script>


<script>
    function confirmarassist(id){
            Swal.fire({
    title: 'Desea eliminar el tamizaje ASSIST?',
    text: "Este cambio no se puede revertir y al eliminar este reporte no sera recuperable!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3c773c',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Si, eliminar',
    }).then((result) => {
    if (result.isConfirmed) {
    
        window.location='/da/deletetamassist/'+id;
      
    
    
    }
    })
        }
</script>
    <%- include('../includes/footer') -%>