<%- include('../includes/header') -%>
    <section class="content">
        <div class="titulo_pagina row align-items-center">
            <div class="col-lg-2">
                <div class="btn_close d-md-none d-lg-block">
                    <button type="button" class="close_sidebar">
                        <i class="bi bi-arrows-fullscreen maximize" id="texto_button_sidebar">&nbsp;Maximizar</i>
                    </button>
                </div>
            </div>
            <div class="col-lg-4">
                <h4><%= tittle%></h4>
            </div>
            <div class="col-lg-6 d-md-none d-lg-block">
                <div class="bell_notificaciones"><a href="/da/notificaciones"><i class="bi bi-bell-fill"></i></a></div>
                <div class="dropdown">
                    <button class="btn btn-secondary  dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <% if(user) {%>
                            <p class="nombre_entidad_activa">
                            <%= user.NOMBRE %> <%= user.APELLIDO %>
                            </p><% }%>
                        <br>
                        <p class="cambiar"><%= user.ENTIDAD %></p>
           
              
                </div>
            </div>
        </div>
        <div class="section_form fluid-container">
            <div class="container_reporte_form fluid-container tamizajes">
                <form action="/da/updatetamcrafft" method="post">
                    

                    <div class="form-group">
                        <!--TAMIZAJE CRAFFT (14-17 años) SLIDE NUMERO 10 /-->
                        <!--ESTE SLIDE SOLO DEBE DE SALIR EN CUYO CASO LA EDAD DE LA PERSONA QUE SE ESTA REPORTANDO SEA ENTRE 14 A 17 AÑOS, SE DEBE CALCULAR EN BASE A LA FECHA DE NACIMIENTO-->
                        <!--ENCUESTA TAMIZAJE CRAFFT-->
                        <div class="step step-1 active">
                            <div class="form-group">
                                <h3>ENCUESTA TAMIZAJE CRAFFT</h3>
                                <input type="text" name="id_tamizaje" value="<%= vercrafft.id_tamizaje %>" hidden>
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingDatosB">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseDatosB" aria-expanded="false" aria-controls="flush-collapseDatosB">
                                                <div class="container">
                                                    <div class="row">
                                                        <h3>Relacion con datos basicos</h3>
                                                    </div>
                                                    <div class="row">
                                                        
                                                    </div>
                                                </div>
                                        </button>
                                        </h2>
                                        <div id="flush-collapseDatosB" class="accordion-collapse collapse" aria-labelledby="flush-headingDatosB" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                    
                                                <table>
                                                    <tr>
                                                         <td><label for="Tipo de Identificación">1.1 Fecha de Notificación</label></td>
                                                        <td><label for="Tipo de Identificación">2.1 Tipo Identificación</label></td>
                                                        <td><label for="Número Identificación">2.2 Número Identificación</label></td>
                                                    </tr>
                                                    <tr>
                                                                        <td><input type="date" name="FEC_NOT" class="form-control" required value="<%= vercrafft.FEC_NOT.toISOString().slice(0, 10); %>"></td>
                                                        <td><select name="TIP_IDE" id="options" class="form-control" required>
                                                            <% tipide.forEach((lide)=> { %>
                                                                <option value="<%= lide.ID_RL_TIP_IDE%>" <% if(lide.ID_RL_TIP_IDE=="vercrafft".TIP_IDE){ %>selected="selected" <% } %>  ><%= lide.DESC%></option>
                                                                <% }) %>
                                                        </select></td>
                                                        <td><input type="text" name="NUM_IDE" class="form-control" value="<%= vercrafft.NUM_IDE %>" required></td>
                                                    </tr>
                                                </table>
                                                <table>
                                                    <tr>
                                                        <td> <label for="Primer Nombre">2.3 Primer Nombre</label></td>
                                                        <td><label for="Segundo Nombre">2.4 Segundo Nombre</label></td>
                                                        <td><label for="Primer Apellido">2.5 Primer Apellido</label></td>
                                                        <td><label for="Segundo Apellido">2.6 Segundo Apellido</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="text" name="PRI_NOM" class="form-control" value="<%= vercrafft.PRI_NOM %>" required></td>
                                                        <td><input type="text" name="SEG_NOM" class="form-control" value="<%= vercrafft.SEG_NOM %>" required></td>
                                                        <td><input type="text" name="PRI_APE" class="form-control" value="<%= vercrafft.PRI_APE %>" required></td>
                                                        <td><input type="text" name="SEG_APE" class="form-control" value="<%= vercrafft.SEG_APE %>" required></td>
                                                    </tr>
                                                </table>
                                                <table>
                                                    <tr>
                                                        <td><label for="Telefono Paciente">2.7 Telefono Paciente</label></td>
                                                        <td><label for="Fecha de Nacimiento">2.8 Fecha de Nacimiento</label></td>
                                                        <td><label for="Edad">2.9 Edad</label></td>
                                                        <td><label for="Sexo">2.10 Sexo</label></td>
                                                        <% nacionUSER=nacion.filter(nacionU=>nacionU.ID_NACIONALIDAD==vercrafft.NACION) %>
                                                        <td><label for="Nacionalidad">2.11 Nacionalidad:<%= nacionUSER[0].GENTILICIO_NAC %> </label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="text" name="TELEFONO" id="" class="form-control" value="<%= vercrafft.TELEFONO %>" required></td>
                                                        <td><input type="date" name="FECHA_NTO" id="" class="form-control" value="<%= vercrafft.FECHA_NTO.toISOString().slice(0,10) %>" required></td>
                                                        <td><Select class="form-control" name="EDAD" value="<%= vercrafft.EDAD %>">
                                                            <option value="1">5</option>
                                                            <option value="1">6</option>
                                                            <option value="1">7</option>
                                                            <option value="1">8</option>
                                                            <option value="1">9</option>
                                                            <option value="1">10</option>
                                                            <option value="1">11</option>
                                                            <option value="1">12</option>
                                                            <option value="1">13</option>
                                                            <option value="1">14</option>
                                                            <option value="1">15</option>
                                                            <option value="1">16</option>
                                                            <option value="1">17</option>
                                                        </Select></td>
                                                        <td><select name="SEXO" id="options" class="form-control">
                                                            <% sexo.forEach((lsexo)=>{ %> 
                                                                <option value="<%= lsexo.ID_SEXO %>"<% if(lsexo.ID_SEXO==vercrafft.SEXO){ %> selected="selected" <% } %> ><%= lsexo.DESC %> </option>
                                                                <% }) %> 
                                                        </select></td>

                                                        <td>
                                                            <input name="NACION" id="" class="form-control" list="listanacionalidades" value="<%= vercrafft.NACION %>">
                                                            <datalist id="listanacionalidades">
                                                                <% nacion.forEach((lnacion)=>{ %> 
                                                                    <option value="<%= lnacion.ID_NACIONALIDAD %>"><%= lnacion.GENTILICIO_NAC %> </option>
                                                                    <% }) %> 

                                                            </datalist>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table class="">
                                                    <tr>
                                                        <% nameocu=ocurrencia.filter(noc=>noc.CODCENTROPOBLADO==vercrafft.ID_RL_DIVIPOLA)  %> 
                                                        <p class="mt-3 text-lowercase">3.1 Lugar de ocurrencia del caso: <%= nameocu[0].NOMMUNIPIO %> / <%= nameocu[0].NOMCENTRPOBLADO %> </p>
                                                    </tr>
                                                    <tr>
                                                        
                                                        <p class="textos_black">Busca por nombre de lugar</p>
                                                        <input type="text" name="ID_RL_DIVIPOLA" class="form-control mb-3"  placeholder="Buscar por Barrio o Vereda o Centro poblado"  value="<%= vercrafft.ID_RL_DIVIPOLA %>" list="listadoocurrencia" >
                                                    <datalist id="listadoocurrencia">
                                                        <% ocurrencia.forEach((listaocurrencia)=> { %>
                                                            <option class="text-lowercase" value="<%= listaocurrencia.CODCENTROPOBLADO %>" > <%= listaocurrencia.NOMMUNIPIO %>, <%= listaocurrencia.NOMCENTRPOBLADO %>, <%= listaocurrencia.NOMCENTRPOBLADO %> </option>
                                                            <%})%>  

                                                    </datalist>
                                                    </tr>
                                                </table>
                                                <table >
                                          
                                                    <% nameocu1=ocurrencia.filter(noc => noc.CODCENTROPOBLADO == vercrafft.ID_RL_DIVIPOLA_RESI); %> 

                                                    <tr class="text-lowercase">3.2 Lugar Residencia del paciente: <%= nameocu1[0].NOMMUNIPIO%> </tr>
                                                </table>
                                                <table>
                                             
                                                    <tr>
                                                    <p class="textos_black">Busca por nombre de lugar</p>
                                                        <input type="text" name="ID_RL_DIVIPOLA_RESI" class="form-control mb-3"  value="<%= vercrafft.ID_RL_DIVIPOLA_RESI %>"placeholder="Buscar por Barrio o Vereda o Centro poblado"  list="listadoocurrencia" >
                                                    <datalist id="listadoocurrencia">
                                                        <% ocurrencia.forEach((listaocurrencia)=> { %>
                                                            <option class="text-lowercase" value="<%= listaocurrencia.CODCENTROPOBLADO %>"> <%= listaocurrencia.NOMMUNIPIO %>, <%= listaocurrencia.NOMCENTRPOBLADO %>, <%= listaocurrencia.NOMCENTRPOBLADO %> </option>
                                                            <%})%>  

                                                          
                                                    </tr>
                                                    <tr>3.2 Dirección de residencia del paciente:</tr>
                                                    <tr>
                                                        <input type="text" name="DIR_RES" class="form-control mt-2"  value="<%= vercrafft.DIR_RES %> " >
                                                    </tr>
                                                </table>
                                     
                                       
                                                <table>
                                                    <tr>
                                                        <td><label for="Fecha Consulta">4.1 Tipo de Régimen en Salud</label></td>
                                                        <td><label for="Fecha Inicio de Síntomas">4.2 Código Administradora</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><select name="tip_reg" id="options" class="form-control">
                                                            <% regimens.forEach((lregimen)=>{ %> 
                                                                <option value="<%= lregimen.id_rl_tip_ss %>" <% if(lregimen.id_rl_tip_ss==vercrafft.tip_reg){ %>selected="selected"<% } %>  > <%= lregimen.DESCRIP %> </option>
                                                                <% }) %> 
                                                        </select></td>
                                                        <td><input name="cod_adm" list="prestadoras" class="form-control" value="<%= vercrafft.cod_adm %> ">
                                                            <datalist id="prestadoras">

                                                                <% prestadoras.forEach((lprestadoras)=> { %>
                                                                    <option value="<%= lprestadoras.CODIGOHABILITACION %>"><%= lprestadoras.NOMBRE %> </option>
                                                                    <% }) %> 
                                                            </datalist>
                                                        
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                            <div class="container">
                                                <div class="row">
                                                    <h3>Durante los ultimos 12 meses</h3>
                                                </div>
                                            
                                            </div>
                                        </button>
                                        </h2>
                                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <table class="mb-3">
                                                    <tr>
                                                        <td>
                                                            <label for="">¿A qué edad inició el consumo?</label>
                                                            <Select class="form-control" name="EDAD_INI" >
                                                                <option value="5" <% if(vercrafft.EDAD_INI=5){ %> selected="selected" <% } %> >5</option>
                                                                <option value="6" <% if(vercrafft.EDAD_INI=6){ %> selected="selected" <% } %>>6</option>
                                                                <option value="7" <% if(vercrafft.EDAD_INI=7){ %> selected="selected" <% } %>>7</option>
                                                                <option value="8" <% if(vercrafft.EDAD_INI=8){ %> selected="selected" <% } %>>8</option>
                                                                <option value="9" <% if(vercrafft.EDAD_INI=9){ %> selected="selected" <% } %>>9</option>
                                                                <option value="10" <% if(vercrafft.EDAD_INI=10){ %> selected="selected" <% } %>>10</option>
                                                                <option value="11" <% if(vercrafft.EDAD_INI=11){ %> selected="selected" <% } %>>11</option>
                                                                <option value="12" <% if(vercrafft.EDAD_INI=12){ %> selected="selected" <% } %>>12</option>
                                                                <option value="13" <% if(vercrafft.EDAD_INI=13){ %> selected="selected" <% } %>>13</option>
                                                                <option value="14"<% if(vercrafft.EDAD_INI=14){ %> selected="selected" <% } %>>14</option>
                                                                <option value="15" <% if(vercrafft.EDAD_INI=15){ %> selected="selected" <% } %>>15</option>
                                                                <option value="16"<% if(vercrafft.EDAD_INI=16){ %> selected="selected" <% } %>>16</option>
                                                                <option value="17" <% if(vercrafft.EDAD_INI=17){ %> selected="selected" <% } %>>17</option>
                                                            </Select>
                                                        </td>
                                                        <td >
                                                            <label for="">Con cuál sustancia inició el consumo</label>
                                                            <select name="SPA_INI" id="" class="form-control">
                                                                <% spa.forEach((lspa) =>{ %> 
                                                                    <option style="width: 20px!important;" value="<%= lspa.id_rl_lista_spa %>"<% if(lspa.id_rl_lista_spa==vercrafft.SPA_INI){ %>selected="selected"<% } %>  > <%= lspa.SUSTANCIA %> </option>
                                                                    <% }) %> 
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table class="lista_spa_reporte">
                                                    <tr>
                                                        <td> </td>
                                                        <td>Si</td>
                                                        <td>No</td>
                                                    </tr>
                                                    <tr>
                                                        <td>¿Ha consumido bebidas alcohólicas (más de unos pocos tragos)?</td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pa1_ALC" type="radio" value="1" id="flexCheckDefault2" <% if(vercrafft.CRAFFT_Pa1_ALC==1){ %> checked="checked" <% } %>></td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pa1_ALC" type="radio" value="0" id="flexCheckDefault2" <% if(vercrafft.CRAFFT_Pa1_ALC==0){ %> checked="checked" <% } %>></td>
                                                    </tr>
                                                    <tr>
                                                        <td>¿Ha fumado marihuana o probado hachís?</td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pa2_MAR" type="radio" value="1" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pa2_MAR==1){ %> checked="checked" <% } %>></td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pa2_MAR" type="radio" value="0" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pa2_MAR==0){ %> checked="checked" <% } %>></td>
                                                    </tr>
                                                    <tr>
                                                        <td>¿Ha usado algún otro tipo de sustancias que alteren tu estado de ánimo o de conciencia? </td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pa3_OTR" type="radio" value="1" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pa3_OTR==1){ %> checked="checked" <% } %>></td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pa3_OTR" type="radio" value="0" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pa3_OTR==0){ %> checked="checked" <% } %>></td>
                                                    </tr>
                                                    <tr>
                                                        <td>¿Ha viajado, alguna vez, en un carro o vehículo, conducido por una persona (o usted mismo) o ha tomado riesgos en grupo (como realizar robos, colarse en las fiestas, pedir que lo lleve un desconocido
                                                            dentro o fuera de la ciudad) que haya o hayan consumido alcohol, drogas o sustancias psicoactivas?</td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb1_RIESGOS" type="radio" value="1" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb1_RIESGOS==1){ %> checked="checked" <% } %>></td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb1_RIESGOS" type="radio" value="0" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb1_RIESGOS==0){ %> checked="checked" <% } %>></td>
                                                    </tr>
                                                    <tr>
                                                        <td>¿Le han sugerido, alguna vez, sus amigos o su familia, que disminuya el consumo de alcohol, drogas o sustancias psicoactivas?</td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb2_DISMIN" type="radio" value="1" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb2_DISMIN==1){ %> checked="checked" <% } %>></td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb2_DISMIN" type="radio" value="0" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb2_DISMIN==0){ %> checked="checked" <% } %>></td>
                                                    </tr>
                                                    <tr>
                                                        <td>¿Ha usado, alguna vez, bebidas alcohólicas, drogas o sustancias psicoactivas para relajarse, para sentirse mejor consigo mismo o para integrarse a un grupo? </td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb3_RELAJ" type="radio" value="1" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb3_RELAJ==1){ %> checked="checked" <% } %>></td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb3_RELAJ" type="radio" value="0" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb3_RELAJ==0){ %> checked="checked" <% } %>></td>
                                                    </tr>
                                                    <tr>
                                                        <td>¿Se ha metido, alguna vez, en líos o problemas al tomar alcohol, drogas o sustancias psicoactivas?</td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb4_LIOS" type="radio" value="1" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb4_LIOS==1){ %> checked="checked" <% } %>></td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb4_LIOS" type="radio" value="0" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb4_LIOS==0){ %> checked="checked" <% } %>></td>
                                                    </tr>
                                                    <tr>
                                                        <td>¿Ha olvidado, alguna vez, lo que hizo al tomar alcohol, drogas o sustancias psicoactivas? </td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb5_OLVIDO" type="radio" value="1" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb5_OLVIDO==1){ %> checked="checked" <% } %>></td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb5_OLVIDO" type="radio" value="0" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb5_OLVIDO==0){ %> checked="checked" <% } %>></td>
                                                    </tr>
                                                    <tr>
                                                        <td>¿Ha consumido, alguna vez, alcohol, drogas o alguna sustancia psicoactiva, encontrándose solo/a o sin compañía? </td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb6_SOLO" type="radio" value="1" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb6_SOLO==1){ %> checked="checked" <% } %>></td>
                                                        <td><input class="form-check-input" name="CRAFFT_Pb6_SOLO" type="radio" value="0" id="flexCheckDefault" <% if(vercrafft.CRAFFT_Pb6_SOLO==0){ %> checked="checked" <% } %>></td>
                                                    </tr>
                                                </table>
                                                <table>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn_box">
                                      <button type="submit" class="btn_green align-center">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="../scripts/validar_campos.js"></script>
    <%- include('../includes/footer') -%>