<%- include('includes/header') -%>
    <!-- ========== area principal ========== -->


    <div class="container ps-lg-5 pe-lg-5 mt-lg-5 mt-2 reporte">

        <div class="row mt-lg-5 mb-lg-5 contenido_ayuda">
            <h4 class="text-center mt-lg-2">Preparamos unos contenidos según la informacion recopilada en reporte, con tips, lineas de atencion y planes de acción cercanos a ti.</h4>
            <div class="row">
                <h3>Ofertas Institucionales:</h3>
                <% planes.forEach((dplanes)=>{ %> 
                <div class="col-lg-6 col-xs-12">
                    <div class="card_noticias_tips shadow_btn container-fluid p-4">
                        <div class="row">
                         
                            <div class="col-lg-9">
                                <div class="d-grid ">
                                    <div class="borde_inferior_gris">
                                        <h4><%= dplanes.titulo %></h4>
                                        <span></span>
                                    </div>
                                    <span class="preview_text">
                                        <% resumen=dplanes.contenido %><%= resumen.substr(0,35) %>
                               </span>

                                  
                                    <button class="btn_green ms-auto mt-4" type="button" onclick="location.href='/lc/oferta/<%= dplanes.id %>'">Leer Más</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %> 
                <% gplanes.forEach((dplanes)=>{ %> 
                    <div class="col-lg-6 col-xs-12">
                        <div class="card_noticias_tips shadow_btn container-fluid p-4">
                            <div class="row">
                             
                                <div class="col-lg-9">
                                    <div class="d-grid ">
                                        <div class="borde_inferior_gris">
                                            <h4><%= dplanes.titulo %></h4>
                                            <span></span>
                                        </div>
                                        <span class="preview_text">
                                            <% resumen=dplanes.contenido %><%= resumen.substr(0,35) %>
                                   </span>
    
                                      
                                        <button class="btn_green ms-auto mt-4" type="button" onclick="location.href='/lc/oferta/<%= dplanes.id %>'">Leer Más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %> 
                
            </div>
            <div class="row mt-4">
                <h3>Tips:</h3>
                <% tips.forEach((dtips)=>{ %> 

                <div class="col-lg-6 col-xs-12">
                    <div class="card_noticias_tips shadow_btn container-fluid p-4">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="d-grid ">
                                    <div class="borde_inferior_gris">
                                        <h4><%= dtips.titulo %></h4>
                                        <span><% fecha=dtips.fcreacion %><%= fecha.toISOString().slice(0,10) %></span>
                                    </div>
                                    <span class="preview_text">
                                        <% resumen=dtips.texto %><%= resumen.substr(0,35) %>                                 </span>
                                    <button class="btn_green ms-auto mt-4" type="button" onclick="location.href='/lc/vertips/<%= dtips.id%>'">Leer Más</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %> 

                <% gtips.forEach((dtips)=>{ %> 

                    <div class="col-lg-6 col-xs-12">
                        <div class="card_noticias_tips shadow_btn container-fluid p-4">
                            <div class="row">
    
                                <div class="col-lg-12">
                                    <div class="d-grid ">
                                        <div class="borde_inferior_gris">
                                            <h4><%= dtips.titulo %></h4>
                                            <span><% fecha=dtips.fcreacion %><%= fecha.toISOString().slice(0,10) %></span>
                                        </div>
                                        <span class="preview_text">
                                            <% resumen=dtips.texto %><%= resumen.substr(0,35) %>                                 </span>
                                        <button class="btn_green ms-auto mt-4" type="button" onclick="location.href='/lc/vertips/<%= dtips.id%>'">Leer Más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %> 
              
            </div>

            <div class="row mt-5 pt-2 justify-content-center blue_text shadow">
                <h3 class="text-center">Lineas de atención</h3>
                <% lineas.forEach((dlinea)=>{ %> 
                <div class="col-lg-4 col-xs-12">
                    <ul>
                        <li class="mb-4">
                            <%= dlinea.nombre %> <br> Numero de atención: <%= dlinea.numero %>
                        </li>
                 
                    </ul>
                </div>
                <% })%>

                <% glineas.forEach((dlinea)=>{ %> 
                    <div class="col-lg-4 col-xs-12">
                        <ul>
                            <li class="mb-4">
                                
                                <%= dlinea.nombre %> <br> Numero de atención: <%= dlinea.numero %>
                            </li>
                     
                        </ul>
                    </div>
                    <% })%>
         
            </div>
        </div>
    </div>
    <!--Area de Principal-->
    <%- include('includes/footer') -%>