<%- include('../includes/header') -%>
<% var rol %> 
    <section class="content">
        <div class="titulo_pagina row align-items-center">
            <div class="col-lg-2">
                <div class="btn_close d-md-none d-lg-block">
                    <button type="button" class="close_sidebar">
                        <i class="bi bi-arrows-fullscreen maximize" id="texto_button_sidebar">&nbsp;Maximizar</i>
                    </button>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>
                    <%= tittle %>
                </h4>
            </div>
            <div class="col-lg-6 d-md-none d-lg-block">
                <div class="bell_notificaciones"><a href="/da/notificaciones"><i class="bi bi-bell-fill"></i></a></div>
                <div class="dropdown">
                    <button class="btn btn-secondary  dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <% if(user) {%>
                            <p class="nombre_entidad_activa">
                            <%= user.NOMBRE %> <%= user.APELLIDO %>
                            </p><% }%>
                        <br>
                        <p class="cambiar"><%= user.ENTIDAD %></p>
           
              
                </div>
            </div>
        </div>
        <div class="section_form fluid-container">
            <div class=" container_reporte_form">
                <div class="row buscar mb-1">
                
                    <form action="/da/controluser"  method="post" autocomplete="off" class="ps-5 pe-5"> 
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" value="<%= userver.id_st_user %>" hidden name="id_st_user">
                                <label for="">Nombre</label>
                                <input type="text" name="NOMBRE" class="form-control mb-2" value="<%= userver.NOMBRE %>" required>
                                <label for="">Rol</label>
                                <% if(userver.TIP_USER==1) { rol="Admin"}  %> 
                                <% if(userver.TIP_USER==2) { rol="Entidad Municipal"}  %> 
                                <% if(userver.TIP_USER==3) { rol="UPGD"}  %> 
                                <% if(userver.TIP_USER==4) { rol="Usuario de UPGD"}  %> 
                                <input type="text" class="form-control mb-2" value="<%= rol %>" readonly="readonly">
                                <label for="">Email</label>
                                <input type="text" name="EMAIL" class="form-control mb-2" value="<%= userver.EMAIL%>" required>
                            </div>
                            <div class="col-lg-6">
                                <label for="">APELLIDO</label>
                                <input type="text" name="APELLIDO" class="form-control mb-2" value="<%= userver.APELLIDO %>" required>
                                <label for="">Tipo de identificación</label>
                                
                                <select name="TIP_IDEN" id="" CLASS="form-select">
                                    <% listatipoide.forEach((lide)=> { %> 

                                    <option value="<%= lide.ID_RL_TIP_IDE %>"  <% if(lide.ID_RL_TIP_IDE == user.TIP_IDEN){ %> selected="selected" <% } %>><%= lide.DESC %></option>
                                    <% }) %> 
                                </select>
                                
                                <label for="">Numero de identificación</label>
                                <input type="text" name="CEDULA" class="form-control mb-2" value="<%= userver.CEDULA %>" required>
                      
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label for="">Telefono de contacto:</label>
                                <input type="text" name="TEL" class="form-control mb-2" value="<%= userver.TEL%>" required>
                                <label for="">Municipio en el que opera</label>
                                <input type="text" class="form-control mb-2" value="<%= mimuni.NOMMUNIPIO %>" readonly="readonly">
               
                            </div>
                            <div class="col-lg-6">
                                <label for="">Entidad a la que pertenece:</label>
                                <input type="text" class="form-control mb-2" value="<%= miupgd.RAZ_SOC %>" readonly="readonly">
                            
                             
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-4"></div>
                            
                            <div class="col-4">
                                <button type="submit" name="updateuser" value="1" class="btn_green">Actualizar</button>
                                <button   onclick="confirmar(<%= userver.id_st_user %>)" type="button" name="deleteuser" value="0" class="btn_red_wide" >Eliminar</button>
                            </div>
                            <div class="col-4 align-content-end">      </div>
                       
                            
                            
                        </div>
                    </form>




                </div>
  

            </div>
        </div>
    </section>
    <script>
        function confirmar(id){
            Swal.fire({
  title: 'Desea eliminar el usuario?',
  text: "Este cambio no se puede revertir!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3c773c',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Si, eliminar'
}).then((result) => {
  if (result.isConfirmed) {
    
        window.location='/da/borraruser/'+id;
      
   
    
  }
})
        }
    </script>
    <%- include('../includes/footer') -%>