<div class="cuerpo_dashboard">

    <h5>Tamizajes CRAFFT</h5>
    <% if(tamizajecrafft) { %> 
    <p class="textos_black">Cantidad total de tamizajes assist realizados: <%= tamizajecrafft.length %> </p>
    <div class="row titulo_tabla">
            
        <div class="col-lg-3">Nro de Documento</div>
        <div class="col-lg-2">Fecha</div>
        <div class="col-lg-2">Nombre</div>
        <div class="col-lg-2">Nivel de riesgo</div>
        <div class="col-lg-2">Accion</div>
        <div class="col-lg-1"></div>
    </div>
   
    <% for(d=0;d<tamizajecrafft.length;d++) {%> 
    <div class="row crud_user text-capitalize">
        
        <div class="col-lg-3 border border-secondary align-items-center d-flex"><%= tamizajecrafft[d].NUM_IDE %> </div>
        <div class="col-lg-2 border border-secondary align-items-center d-flex"><%= tamizajecrafft[d].FEC_NOT.toISOString().slice(0,10) %></div>
        <div class="col-lg-2 border border-secondary align-items-center d-flex"><%= tamizajecrafft[d].PRI_NOM %> <%= tamizajecrafft[d].SEG_NOM %> <%= tamizajecrafft[d].PRI_APE %> <%= tamizajecrafft[d].SEG_APE %></div>
        <div class="col-lg-2 border border-secondary align-items-center d-flex"><%= tamizajecrafft[d].CRAFFT_Puntaje %></div>
        <div class="col-lg-2 border border-secondary align-items-center d-flex"><%= tamizajecrafft[d].accion.substr(0,30) %></div>
        <div class="col-lg-1 border border-secondary align-items-center d-flex p-1 justify-content-center">

            <a href="/da/vertamizaje_crafft/<%= tamizajecrafft[d].id_tamizaje %>"  class="btn_edit_ver btn_green btn_icons"><i class="bi bi-eye-fill"></i></a>
            <a onclick="confirmarcrafft('<%= tamizajecrafft[d].id_tamizaje %>')" class="btn_red btn_icons"><i class="bi bi-x-octagon-fill"></i></a>
        </div>
    </div>
    <% } %> 
    <% } %> 




</div>  